@font-face{
  font-family: "Cormorant-Light";
  src: url(../fonts/Cormorant-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Cormorant-Regular";
  src: url(../fonts/Cormorant-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Cormorant-Medium";
  src: url(../fonts/Cormorant-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Cormorant-SemiBold";
  src: url(../fonts/Cormorant-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "OpenSans-SemiBold";
  src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin light(){
  font-family: 'Cormorant-Light', serif;
}

@mixin regular(){
  font-family: 'Cormorant-Regular', serif;
}

@mixin medium(){
  font-family: 'Cormorant-Medium', serif;
}

@mixin bold(){
  font-family: 'Cormorant-SemiBold', serif;
}

@mixin open-light(){
  font-family: 'OpenSans-Light', sans-serif;
}

@mixin open(){
  font-family: 'OpenSans-Regular', sans-serif;
}

@mixin open-bold(){
  font-family: 'OpenSans-SemiBold', sans-serif;
}
