body{
  min-width: 320px;
  padding: 0;
  margin: 0;

  @include regular();
  color: $maintext;
}

.btn{
  padding: 12px 37px;
  border: none;
  border-radius: 3px;
  background-color: $primary;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;

  &:focus{
    outline-style: none;
  }
}
