.page-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-header__burger{
  position: absolute;
  z-index: 11;
}

// Burger menu
@import "burger";

.page-header__sidebar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

// Sidebar
@import "sidebar";

.page-header__logo{
  width: 50%;
}

.logo{
  @include open-bold();
  color: #000000;
  text-transform: uppercase;
}

.logo__title{
  font-size: 24px;
}

.logo__subtitle{
  font-size: 12px;
}

.page-header__user-menu{
  width: 100%;
}

// User menu
@import "user-menu";

@media only screen and (min-width: $mobile-width) {
  .page-header{
    padding-top: 0;
  }

  .page-header__burger{
    top: 20px;
    left: 20px;
  }

  .logo{
    display: none;
  }
}

@media only screen and (min-width: $table-width) {
  .page-header{
    padding-top: 10px;
  }

  .page-header__burger{
    top: 30px;
    left: 8px;
  }

  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-header__user-menu{
    width: 50%;
  }
}

@media only screen and (min-width: $desktop-width) {
  .page-header__burger{
    left: 15px;
  }

  .page-header__user-menu{
    width: 40%;
  }
}
